#assign-product-category div.category-container {
    border: 2px dashed var(--bc-color-3-c);
    min-height: 458px;
    border-radius: 5px;
    background: var(--bc-color-3-b) none;

    margin-bottom: 10px;
    margin-top: 10px;
}

#assign-product-category div#products-without-category.category-container {
    min-height: 458px;
}

#assign-product-category select {
    color: var(--bc-color-4-a);
    background-color: var(--bc-color-3-a);
    border: 1px solid var(--bc-color-3-c);
}

div.product-to-assign-category {
    background: var(--bc-color-3-a);
    border: 1px solid var(--bc-color-3-c);
    color: var(--bc-color-4-a);
    padding: 10px 10px;
    border-radius: 5px;
    text-align: left;

    min-width: 350px;
    margin: 3px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

div.product-to-assign-category:hover {
    opacity: 0.8;
    cursor: move;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}