#assign-product-category div.category-container {
    border: 2px dashed var(--bc-dark-x4-color);
    min-height: 458px;
    border-radius: 5px;
    background: var(--bc-dark-x2-color) none;

    margin-bottom: 10px;
    margin-top: 10px;
}

#assign-product-category div#products-without-category.category-container {
    min-height: 458px;
}

div.product-to-assign-category {
    background: var(--bc-bright-color);
    border: 1px solid var(--bc-dark-x4-color);
    color: var(--bc-dark-x4-color);
    padding: 10px 10px;
    border-radius: 5px;
    text-align: left;

    min-width: 350px;
    margin: 3px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

div.product-to-assign-category:hover {
    color: var(--bc-dark-x1-color);
    cursor: move;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}