select.chart-select {
    overflow: hidden;
    overflow-y: auto;

    color: var(--bc-color-4-a);
    background-color: var(--bc-color-3-a);
    border: 1px solid var(--bc-color-3-c);
}

select.chart-select::-webkit-scrollbar-track {
    border: 1px solid var(--bc-color-2-c);
    border-radius: 5px;
    background-color: var(--bc-color-3-a);
}

select.chart-select::-webkit-scrollbar {
    width: 12px;
    background-color: #333;
}

select.chart-select::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px var(--bc-color-2-c);
    background-color: var(--bc-color-1-a);
}

.chart-container {
    margin-top: 25px;
}

.chart-month-select {
    margin-top: 20px;
}