.panel {
    background-color: var(--bc-color-3-a);
}

.panel-default {
    border-color: var(--bc-color-3-c);
}

.panel-default .panel-heading {
    color: var(--bc-color-4-a);
    background-color: var(--bc-color-3-a);
}

.panel-group .panel + .panel {
    margin-top: 10px;
}

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 1px solid var(--bc-color-3-b);
}

.debt-list {
    margin-bottom: 0;
}

.debt-list li {
    margin-top: 10px;
    color: var(--bc-color-4-a);
}

.debt-list li:first-child {
    margin-top: 0;
}

.panel-title a {
    display: block;
}

.panel-title a:link {
    text-decoration: none;
}

.panel-title a:visited {
    text-decoration: none;
}

.panel-title a:hover {
    text-decoration: none;
    opacity: 0.8;
}

.panel-title a:active {
    text-decoration: none;
}