.debt-list {
    margin-bottom: 0;
}

.debt-list li {
    margin-top: 10px;
    color: var(--bc-dark-x2-color);
}

.debt-list li:first-child {
    margin-top: 0;
}

.panel-title a {
    display: block;
}

.panel-title a:link {
    text-decoration: none;
}

.panel-title a:visited {
    text-decoration: none;
}

.panel-title a:hover {
    text-decoration: none;
    color: var(--bc-dark-x1-color);
}

.panel-title a:active {
    text-decoration: none;
}