#loading {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: grey;
    opacity: .8;
}

#loading {
    transition: all linear 100ms;
    opacity: .8;
}

#loading.ng-hide {
    opacity: 0;
}

.lds-dual-ring-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 128px;
    height: 128px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 128px;
    height: 128px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid var(--bc-color-3-a);
    border-color: var(--bc-color-3-a) transparent var(--bc-color-3-a) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
