.login-wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    font-size: 14px;
    text-align: center;
    border: 1px solid var(--bc-color-3-c);
    background: var(--bc-color-3-b);
    border-radius: 12px;
    margin: auto;
    width: 100%;
    padding: 30px;
}

.login-wrapper .form-group {
    margin-bottom: 10px;
}

.login-wrapper .form-control {
    height: 50px;
    line-height: 50px;
}

.btn-login-container {
    margin-top: 30px;
}

button#btn-login {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 16px;
    background-color: var(--bc-color-2-a);
    color: var(--bc-color-3-a);
    border: 1px solid var(--bc-color-3-c);
}

button#btn-login:focus, button#btn-login:hover {
    background-color: var(--bc-color-2-b);
}

.form-control-login {
    top: 39px;
    right: 35px;
}

.form-control-password {
    top: 99px;
    right: 35px;
}

.login-wrapper input {
    background-color: var(--bc-color-3-a);
    color: var(--bc-color-4-a);
    border: 1px solid var(--bc-color-3-c);
}

.login-wrapper input:-webkit-autofill,
.login-wrapper input:-webkit-autofill:hover,
.login-wrapper input:-webkit-autofill:focus,
.login-wrapper input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--bc-color-3-a) inset;
}

@media (min-width: 576px) {
    .form-control-login {
        top: 59px;
        right: 60px;
    }

    .form-control-password {
        top: 119px;
        right: 60px;
    }

    .login-wrapper {
        width: 500px;
        padding: 50px;
    }
}