.jumbotron {
    padding: 5px;
    text-align: center;
    background: var(--bc-color-3-b);
    border: 1px solid var(--bc-color-3-c);
}

.jumbotron .btn {
    margin: 24px 24px;
    padding: 14px 96px;
    font-size: 21px;
}

.jumbotron h2 {
    margin-bottom: 30px;
    color: var(--bc-color-4-a);
}

.jumbotron label {
    color: var(--bc-color-4-a);
}

.jumbotron input, .jumbotron select.form-control {
    color: var(--bc-color-4-a);
    background-color: var(--bc-color-3-a);
    border: 1px solid var(--bc-color-3-c);
}

#add-product {
    color: var(--bc-color-4-a);
    background-color: var(--bc-color-3-a);
    border-color: var(--bc-color-3-c);
}

#add-product:hover {
    opacity: 0.8;
}

#todays-member-products {
    text-align: center;
}

#todays-member-products > div > .well {
    color: var(--bc-color-4-a);
    background: var(--bc-color-3-b);
    border: 1px solid var(--bc-color-3-c);
}

.well-product {
    margin-bottom: 0;
    padding: 5px 5px;
    background: var(--bc-color-3-a);
    border: 1px solid var(--bc-color-3-c);
}

.well-container-narrow {
    padding: 10px 10px;
}

.row-equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.btn-edit-product {
    width: 100%;
    height: 100%;
    color: var(--bc-color-3-a);
    border: 1px solid var(--bc-color-3-c);
    background-color: var(--bc-color-5-a);
}
.btn-edit-product:focus, .btn-edit-product:hover {
    color: var(--bc-color-3-a);
    background-color: var(--bc-color-5-b);
}

.btn-delete-product {
    background-color: var(--bc-color-2-b);
}

.btn-delete-product:focus, .btn-delete-product:hover {
    background-color: var(--bc-color-2-c);
}

.btn-edit-product-list {
    width: 35%;
    margin-left: 5px;
    margin-right: 5px;
}

.modal-content {
    color: var(--bc-color-4-a);
    background: var(--bc-color-3-b);
}

.modal-header {
    background: var(--bc-color-3-c);
    border-bottom: 1px solid var(--bc-color-3-a);
}

.modal-footer {
    background: var(--bc-color-3-c);
    border-top: 1px solid var(--bc-color-3-a);
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table {
    text-align: center;
    color: var(--bc-color-4-a);
}

.table th {
    text-align: center;
}

.table td {
    border-top: 1px solid var(--bc-color-3-c);
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: var(--bc-color-3-b);
}