<div class="row" id="assign-product-category">
    <div class="col-md-3">
        <div ui-tree id="products-without-category">
            <h5>Produkty bez kategorii</h5>
            <ol ui-tree-nodes ng-model="getProductsByCategory('NONE').products">
                <li ng-repeat="product in getProductsByCategory('NONE').products" ui-tree-node>
                    <div ui-tree-handle>
                        <div class="row">
                            <div class="col-md-8">{{product.description}}</div>
                            <div class="col-md-4 text-right">{{product.price}} zł</div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
        <button data-ng-click="updateProductsCategory()" onclick="this.blur();" class="btn btn-default btn-save-category"><span>Zapisz</span></button>
    </div>
    <div class="col-md-9">
        <table class="table">
            <tr>
                <td class="col-md-4">
                    <div ui-tree>
                        <h5>{{getCategoryByName('FOOD').polishName}}</h5>
                        <ol ui-tree-nodes ng-model="getProductsByCategory('FOOD').products">
                            <li ng-repeat="product in getProductsByCategory('FOOD').products" ui-tree-node>
                                <div ui-tree-handle>
                                    <div class="row">
                                        <div class="col-md-8">{{product.description}}</div>
                                        <div class="col-md-4 text-right">{{product.price}} zł</div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </td>
                <td class="col-md-4">
                    <div ui-tree>
                        <h5>{{getCategoryByName('CLOTHES').polishName}}</h5>
                        <ol ui-tree-nodes ng-model="getProductsByCategory('CLOTHES').products">
                            <li ng-repeat="product in getProductsByCategory('CLOTHES').products" ui-tree-node>
                                <div ui-tree-handle>
                                    <div class="row">
                                        <div class="col-md-8">{{product.description}}</div>
                                        <div class="col-md-4 text-right">{{product.price}} zł</div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </td>
                <td class="col-md-4">
                    <div ui-tree>
                        <h5>{{getCategoryByName('HOME').polishName}}</h5>
                        <ol ui-tree-nodes ng-model="getProductsByCategory('HOME').products">
                            <li ng-repeat="product in getProductsByCategory('HOME').products" ui-tree-node>
                                <div ui-tree-handle>
                                    <div class="row">
                                        <div class="col-md-8">{{product.description}}</div>
                                        <div class="col-md-4 text-right">{{product.price}} zł</div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div ui-tree>
                        <h5>{{getCategoryByName('ENTERTAINMENT').polishName}}</h5>
                        <ol ui-tree-nodes ng-model="getProductsByCategory('ENTERTAINMENT').products">
                            <li ng-repeat="product in getProductsByCategory('ENTERTAINMENT').products" ui-tree-node>
                                <div ui-tree-handle>
                                    <div class="row">
                                        <div class="col-md-8">{{product.description}}</div>
                                        <div class="col-md-4 text-right">{{product.price}} zł</div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </td>
                <td>
                    <div ui-tree>
                        <h5>{{getCategoryByName('HEALTH').polishName}}</h5>
                        <ol ui-tree-nodes ng-model="getProductsByCategory('HEALTH').products">
                            <li ng-repeat="product in getProductsByCategory('HEALTH').products" ui-tree-node>
                                <div ui-tree-handle>
                                    <div class="row">
                                        <div class="col-md-8">{{product.description}}</div>
                                        <div class="col-md-4 text-right">{{product.price}} zł</div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </td>
                <td>
                    <div ui-tree>
                        <h5>{{getCategoryByName('TRANSPORT').polishName}}</h5>
                        <ol ui-tree-nodes ng-model="getProductsByCategory('TRANSPORT').products">
                            <li ng-repeat="product in getProductsByCategory('TRANSPORT').products" ui-tree-node>
                                <div ui-tree-handle>
                                    <div class="row">
                                        <div class="col-md-8">{{product.description}}</div>
                                        <div class="col-md-4 text-right">{{product.price}} zł</div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div ui-tree>
                        <h5>{{getCategoryByName('OTHER').polishName}}</h5>
                        <ol ui-tree-nodes ng-model="getProductsByCategory('OTHER').products">
                            <li ng-repeat="product in getProductsByCategory('OTHER').products" ui-tree-node>
                                <div ui-tree-handle>
                                    <div class="row">
                                        <div class="col-md-8">{{product.description}}</div>
                                        <div class="col-md-4 text-right">{{product.price}} zł</div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>
</div>
