<div class="container container-home">
    <div class="row">
        <div class="col-md-4">
            <div class="frame">
                <a href="#!/product/new" data-ng-click="innerLogIn('Bartek')"><img src="image/bartek.jpg"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="frame">
                <a href="#!/product/new" data-ng-click="innerLogIn('Rafał')"><img src="image/rafal.jpg"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="frame">
                <a href="#!/product/new" data-ng-click="innerLogIn('Aga')"><img src="image/aga.jpg"></a>
            </div>
        </div>
    </div>
</div>