<div class="login-wrapper" style="margin-top: 140px">
    <form role="form" ng-submit="login()">
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="username"
                   ng-model="credentials.username"
                   placeholder="Login"/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password"
                   ng-model="credentials.password"
                   placeholder="Hasło"/>
        </div>
        <div class="btn-login">
            <button type="submit" class="btn btn-primary">Zaloguj</button>
        </div>
    </form>
</div>
