<div class="container container-login">
    <div class="row">
        <div class="col-md-4">
            <div class="frame">
                <a href="#!/addProduct" data-ng-click="signIn('Bartek')"><img src="image/bartek.jpg"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="frame">
                <a href="#!/addProduct" data-ng-click="signIn('Rafał')"><img src="image/rafal.jpg"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="frame">
                <a href="#!/addProduct" data-ng-click="signIn('Aga')"><img src="image/aga.jpg"></a>
            </div>
        </div>

    </div>
</div>