<nav class="navbar navbar-inverse" data-ng-controller="NavController" data-ng-hide="isLoginView()">
    <div class="container-fluid" data-ng-hide="isHomeView()">
        <div class="navbar-header">
            <span class="navbar-brand">Witaj {{loggedMember.name}}!</span>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/product/new')}"><a href="#!/product/new">Dodaj produkt</a></li>
                <li ng-class="{ active: isActive('/product/list')}"><a href="#!/product/list">Wszystkie produkty</a></li>
                <li ng-class="{ active: isActive('/debts')}"><a href="#!/debts">Rozliczenia</a></li>
                <li ng-class="{ active: isActive('/duties')}"><a href="#!/duties">Obowiązki</a></li>
                <li ng-class="{ active: isActive('/product/category')}"><a href="#!/product/category">Przypisz kategorię</a></li>
                <li ng-class="{ active: isActive('/chart')}"><a href="#!/chart">Zobacz wykresy</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/home" data-ng-click="innerLogOut()"><i class="fa fa-sign-out fa-lg"
                                                                       aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid" data-ng-show="isHomeView()">
        <ul class="nav navbar-nav navbar-right btn-logout">
            <li><a href="#!/home" data-ng-click="logOut()">Wyloguj</a></li>
        </ul>
    </div>
</nav>
